body {
    margin: 0;
    background-color: #DCDCDC;
}
header {
    background-color: #00BFFF;
}
#gameHead {
    text-align: center;
    margin: 0;
    padding: 15px;
}
.input-fields {
    margin: 10px;
    display: inline-block;
}
.the-buttons {
    margin-left: 10px;
    display: inline-block;
}